main {
    width: auto;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    
}

img {
    width: 100%;
    height: auto;
    margin: 100px 0;
}

html {
    background-color: #371947;
}

h1,h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.section-one-wrapper {
    border-radius: 30px;
    background: linear-gradient(125deg, #FFFBF5 23.46%, #FFF 99.47%);
    padding: 64px;
    margin: 100px auto 0 auto;
}

.section-two-wrapper {
    border-radius: 30px;
    background: linear-gradient(125deg, #FFFBF5 23.46%, #FFF 99.47%);
    padding: 64px;
    margin: 0px auto 0px auto;
}